body {
    font-size: 42px;
    color: #0a456b;
    background-image: url(images/bg1.png);
}

#logo {
    margin: 5% 10% 0 60%;
}

#mulu {
    color: #0a456b;
    text-align: center;
    font-size: 1.5em;
    margin: 1% auto;
}

#zhuyi {
    color: darkgrey;
    font-size: 30px;
    text-align: center;
}

.xinghao {
    color: red;
}

#form1 {
    width: 90%;
    height: 30%;
    position: absolute;
    padding: 0 5%;
}

.biaodan {
    width: 95%;
    height: 15%;
    line-height: 15%;
    font-size: 1em;
    color: black;
    border: 1px solid black;
    margin: 1% 0 2% 0;
}

#wenbenyu {
    width: 95%;
    height: 40%;
    font-size: .8em;
    color: black;
    border: 1px solid black;
    margin: 1% 0 1% 0;
}

.upload {
    font-size: .6em;
}

.button:hover {
    text-decoration: none;
}

.blue {
    color: #fef4e9;
    border: solid 1px #0a456b;
    background: #296e9a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.button {
    font-size: 0.9em;
    display: inline-block;
    left: 30%;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .4em 2em .45em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin: 5% 11%;
}

#checkbox {
    width: 8%;
    height: 8%;
    margin: 5% 0 5% 0;
}

#tongyishu {
    font-size: 0.8em;
}

.chengnuo,
.chengnuo:hover {
    text-decoration: none;
}
